<section class="ui raised segment">
    <div class="ui grid ">
        <div class="ui form eight wide column">
            <div class="ui stacked segment">
                <form action="/contribute" method="POST">
                    <div class="field">
                        <label>Stadium Name</label>
                        <input type="text" name="name" placeholder="Stadium Name">
                    </div>
                    <div class="field">
                        <label>Capacity</label>
                        <input type="number" name="capacity" placeholder="Capacity">
                    </div>
                    <div class="ui fluid search selection dropdown" name="county">
                        <input type="hidden" name="county">
                        <div class="text">Select County</div>
                        <i class="ui dropdown icon"></i>
                        <div class="menu">
                            <div class="item">Antrim</div><div class="item">Armagh</div><div class="item">Carlow</div><div class="item">Cavan</div>
                            <div class="item">Clare</div><div class="item">Cork</div><div class="item">Derry</div><div class="item">Donegal</div>
                            <div class="item">Down</div><div class="item">Dublin</div><div class="item">Fermanagh</div><div class="item">Galway</div>
                            <div class="item">Kerry</div><div class="item">Kildare</div><div class="item">Kilkenny</div><div class="item">Laois</div>
                            <div class="item">Leitrim</div><div class="item">Limerick</div><div class="item">Longford</div><div class="item">Louth</div>
                            <div class="item">Mayo</div><div class="item">Meath</div><div class="item">Monaghan</div><div class="item">Offaly</div>
                            <div class="item">Roscommon</div><div class="item">Sligo</div><div class="item">Tipperary</div><div class="item">Tyrone</div>
                            <div class="item">Waterford</div><div class="item">Westmeath</div><div class="item">Wexford</div><div class="item">Wicklow</div>
                        </div>
                    </div>
                    <div class="grouped inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="province" value="munster">
                                <label>Munster</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="province" value="ulster">
                                <label>Ulster</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="province" value="leinster">
                                <label>Leinster</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="province" value="connacht">
                                <label>Connacht</label>
                            </div>
                        </div>
                    </div>
                    <button class="ui blue submit button">Add Stadium</button>
                </form>
            </div>
        </div>
        <aside class="eight wide column">
            <img src="images/banner.jpg" class="ui medium image">
        </aside>
    </div>
</section>