{{>welcomemenu}}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column"><img src="images/gaa.png" class="ui medium image" /></aside>
        <article class="ten wide column">
            <header class="ui  header">The GAA Stadiums of Ireland</header>
            <p>Detailed information on all the GAA Stadiums In the World</p>
            {{>error}}
        </article>
    </div>
</section>